Django==4.2.13
django-environ==0.12.0
django-i54m-apiuser @ https://ci.i54m.com/job/django-i54m-apiuser/1/artifact/django-i54m-apiuser/dist/django_i54m_apiuser-0.3.0-py3-none-any.whl#egg=django_i54m_apiuser-0.3.0
future==1.0.0
gunicorn==23.0.0
mysqlclient==2.2.7
redis==5.0.4
regex==2024.5.15